
<div id="c1" align="center" >
<div id="banner" >
<h1>RUBY BLOG</h1>
<h1 id="head1">
<ItemPage><a href=""></ItemPage>
<font face="Times New Roman"></font>
<ItemPage></a></ItemPage>
</h1>
<p id="des"></p>
</div>
<br />
<div id="side1">
<div class="side">



<%= link_to 'Add Category', new_category_path %>
<br></br>			
<h2 class="sidebar-title">categories</h2>
<p>
<ul>
<% @categories.each do |category| %>
<li>
<%= link_to category.cat ,{:action => 'show', :id => category.id} %>
</li>
 
<% end %>
</ul>
</p>
		
</div>			
</div>

<div id="side2">
	<div id="side">
    

        <h2 class="sidebar-title">ABOUT ME</h2>
        
   		<font face="Times New Roman"><p></p></font>
      <font face="Times New Roman"> <p></p></font>
      
  
<br></br>
  
  		<h2 class="sidebar-title">Previous Posts</h2>
    				<BloggerPreviousItems><br></br>
        		
     			</BloggerPreviousItems>
  		
    
		<MainOrArchivePage><br></br><br></br>
		<h2 class="sidebar-title">Archives</h2><br></br>
    		   	<BloggerArchives>
        



    			
		
  		</MainOrArchivePage><br></br><br></br>  



	</div>
</div>

<div id="content">


	<div >
<Blogger>
	<p class="comment-timestamp">
	
    </p>
<BlogDateHeader>
<h6 ><font color="#80AAD5"> 




</font></h6>
</BlogDateHeader>

    





             
	

<p class="comment-timestamp">
<a href=" "><< Home</a>
</p>
<br></br>




<% @entries.each do |entry| %>
<li>

<h4>
 <%= entry.subject%>
 </h4>
 
 <%= entry.body%>
   
   </li>
   
<% end %>



</p>
    </div>

</ItemPage>
</Blogger>

</div>
<br></br><br></br><br></br><br></br><br></br><br></br>

<div id="footer" >
<p style="text-align:center"><font size="1" color="#FFFFCC">
Designed and published  by </font> <font size="1" color="#808080">
<a target="_blank" href="http://www.finalsense.com">
<font color="#FFFFCC">FinalSense.com</font></a></font><font size="1" color="#FFFFCC">
Copyright © 2006-2007 </font> 
</font></a></p>
</div>
	
</div>

</div>