<b>entries are listed below</b>
<p>
<p><% @entry.each do |entr| %></p>

<b>subject:<p><%= entr.subject %></p></b>

body:<p><%= truncate entr.body, :length => 10 %></p>
<%= link_to 'readmore',{:action => 'all', :id => entr.id } %>

<% end %>

