Dear <b style="color: red" ><%= @user.firstname + " " + @user.lastname %></b>,

<p>Welcome</p> 

<p>Your Login Credentials are  </p> 
<p>Email: <b style="color: red" ><%= @user.email%></b></p>
<p>Password: <b style="color: red" ><%= @user.password %></b></p>

<p>Please <%= link_to "Click Here",root_path %> to login with the above credentials and You will be asked to reset your password .</p>

<p>Thanks & Regards</p>
<p><b>Admin,</b></p>
<p>"http://www.canopyone.com/".</p>

