<div class="page-header">
	<h1>New Entry</h1>
    <%= link_to 'Back', categories_path ,  :class => "btn btn-primary pull-right button-up" %>
</div>
<b style="color:green"><%= notice %></b>
<%= render 'form' %>


