<div class="page-header">
  <h1>Canopy One Portal <span class="label label-info"><%= current_user.full_name %></span></h1>
</div>


See Personal Notifications,  Company News & Notifications



<%= render :partial => "latest" %>